*
{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav
{
    display: flex;
    justify-content: space-around;
    background-color: rgb(114, 35, 204);
    border-radius: 0px 0px 35px 35px;
}
.heading
{
    padding: 0px 45px;
}
.logo
{
    width: auto;
    max-width: 200px;
}
.menu
{
    display: flex;
    justify-content: space-between;
    
}
.list
{
    padding: 25px 0px;
    display: flex;
    list-style: none;
}
.menu-item
{
    justify-content: space-between;
    padding: 0px 25px;
}
a 
{
    text-decoration: none;
    color: rgb(192, 188, 188);
    font-size: 20px;
    font-weight: 500;
}
.active
{
    color: white;
}
a:hover
{
    color: white;
}
.img-float
{
    display: block;
    max-width: 500px;
    width: 100%;
    height: auto;
}
.banner
{
    padding: 25px 0px;
    text-align: center;
}
.ban-text
{
    padding: 10px 0px;
    color: rgb(114, 35, 204);
    font-weight: 900;
    font-family: sans-serif;
}
.name
{
    animation-name: text;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes text 
{
    0%{ color:red; }
    20%{ color: rgb(114, 35, 204); }
    40%{ color: rgb(0, 140, 255); }
    60%{ color: green; }
    80%{ color: blue; }
    100%{ color: black; }
}