*
{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar
{
    background-color: rgb(114, 35, 204);
}
.heading
{
    padding: 0px 45px;
}
.logo-text
{
    font-size: 45px;
    color: white;
    font-weight: 800;
    margin: 7.5px;
}
.logo-text2
{
    color: red;
    text-decoration: underline;
}
.menu
{
    display: flex;
    justify-content: space-between;
    
}
.list
{
    padding: 15px 0px;
    display: flex;
    list-style: none;
}
.menu-item
{
    justify-content: space-between;
    padding: 0px 15px;
}
.menu-text
{
    text-decoration: none;
    color: rgb(192, 188, 188);
    font-size: 20px;
    font-weight: 500;
}
.active
{
    color: white;
}
a:hover
{
    color: white;
}
.img-float
{
    display: block;
    max-width: 500px;
    width: 100%;
    height: auto;
    animation-name:popup;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes popup
{
    0%{
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(-10px);
    }
}
.banner
{
    padding: 25px 0px;
    text-align: center;
}
.ban-text
{
    padding: 10px 0px;
    color: rgb(114, 35, 204);
    font-weight: 900;
    font-family: sans-serif;
}
.name
{
    animation-name: text;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes text 
{
    0%{ color:red; }
    20%{ color: rgb(114, 35, 204); }
    40%{ color: rgb(0, 140, 255); }
    60%{ color: green; }
    80%{ color: blue; }
    100%{ color: black; }
}
.tech
{
    padding: 25px 0px;
}

.tech-head
{
    font-weight: 800;
    font-size: 55px;
    color: rgb(201, 37, 37);
}
.progress
{
    height: 25px;
}
.progress-text
{
    font-weight: 800;
    font-size: 25px;
}
.project
{
    text-align: center;
    padding: 20px 10px ;
}
.project-text
{
    padding: 40px 0px ;
    border: 5px solid  rgba(114, 35, 204, 0.300);
    border-radius: 100px;
}
.project-text:hover
{
    background-color: rgba(114, 35, 204, 0.1);  
    box-shadow: 10px 15px  grey;
}
.project-head
{
    font-weight: 800;
    font-size: 40px;
    color: rgb(114, 35, 204);
    font-family: sans-serif;
}
.project-para
{
    font-weight: 500;
    font-size: 22px;
    color: grey;
}
.btn
{
    font-weight: 700;
    font-size: large;
    padding: 10px 25px;
    border-radius: 25px;
}
.footer
{
    padding: 10px 0px ;
    background-color: rgb(114, 35, 204);
    border-radius:  45px 45px 0px 0px;
    text-align: center;
}
.footer-head
{
    font-weight: 700;
    font-size: 40px;
    color: white;
}
.social-list
{
    margin-top: 10px;
    display: flex;
    list-style: none;
    justify-content: center;
}
.social
{   
    justify-content: space-between;
    padding: 0px 5px;
}
.social-text
{
    text-decoration: none;
    color: rgb(192, 188, 188);
    font-size: 20px;
    font-weight: 500;
}
.social-icon
{
    font-size: 35px;
}
@media screen and (max-width:700px) {
    .social-text
{
    font-size: 15px;
}
}
.projects
{
    text-align: center;
    padding: 20px 0px ;
}
.project-heading
{
    font-weight: 800;
    font-size: 65px;
    color: #dc3545;
    font-family: sans-serif;
}
.project-list
{
    list-style: none;
    padding: 5px;
}
.project-list li{
    padding: 15px 0px ;
}
.about
{
    padding: 25px 10px;
    text-align: center;
}
.dp
{
    display: flex;
    justify-content: center;
}
.photo
{
    max-width: 320px;
    width: 100%;
    display: block;
    border-radius: 160px;
    margin: 15px 0px ;
}
.photo:hover
{
    max-width: 300px;
    width: 100%;
    display: block;
    border-radius: 150px;
    margin: 15px 0px ;
    border: 20px solid rgba(114, 35, 204, 0.568);
    transition: 1.5s;
}
.about-span
{
    color: rgb(114, 35, 204);
}